<!DOCTYPE html>
<html ng-app="myApp">
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="/stylesheets/style.css"/>
</head>
<body>
    <div class="template" ng-include="'/views/template.html'"></div>
    <div class="container page ng-cloak" ng-controller="articleContent">
        <div class="articleEditor" ng-if="moddedIn">
            <input ng-model="article.title" type="text" placeholder="Title"><br>
            <input ng-model="article.date" type="text" placeholder="MM/DD/YYYY"><br>
            <input ng-model="article.image" type="text" placeholder="Image URL"><br>
            <input class="mainContent" ng-model="article.content" type="text" placeholder="Content"><br>
            <button ng-click="create(article)" class="">Publish</button>
        </div>
        <div class="articlesDisplay" ng-repeat="article in articles">
            <div class="individualArticle">
                <div class="units">
                    <button ng-click="delete(article)" class="delete"  ng-if="moddedIn">X</button>
                </div>
                <a ng-click="showArticle = showArticle ? false : true" ng-hide="showArticle" class="titleDate"><h3>{{article.title}}</h3></a>
                <a ng-click="showArticle = showArticle ? false : true" ng-show="showArticle" class="titleDate"><h3>{{article.title}}</h3></a>
                <div ng-show="showArticle">
                    <div class="articleContent"><p>{{article.date}}</p></div>
                    <div><img class="articleImage" ng-src="{{article.image}}"/></div>
                    <div class="articleContent"><p>{{article.content}}</p></div>
                    <div class="commentSection" ng-if="!loggedIn">
                        <a ng-click="showHide()" class="hide" ng-hide="showComment">Show Comments</a>
                        <a ng-click="showHide()" class="hide" ng-show="showComment">Hide Comments</a>
                        <div class="commenting">
                            <input class="commentField" ng-model="comment" type="text" placeholder="Enter comment" ng-show="showComment">
                            <a ng-click="make(comment, article._id); $event.preventDefault(); $event.stopPropagation()" class="submit" type="submit" ng-show="showComment">Publish</a>
                        </div>
                    </div>
                    <div>
                        <div class="commentArea" ng-show="showComment" ng-repeat="comment in article.comments">
                            <div class="opinion">
                                    <p class="words">{{comment.comment}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="/javascripts/vendors/angular/angular.min.js"></script>
    <script type="text/javascript" src="/javascripts/app.js"></script>
</body>
</html>

<a ng-click="showArticle = article._id" ng-hide="showArticle" class="titleDate"><h3>{{article.title}}</h3></a>
<a ng-click="showArticle = showArticle ? false : true" ng-show="showArticle" class="titleDate"><h3>{{article.title}}</h3></a>


<a ng-click="showArticle = showArticle ? false : true" ng-hide="showArticle" class="titleDate"><h3>{{article.title}}</h3></a>
<a ng-click="showArticle = showArticle ? false : true" ng-show="showArticle" class="titleDate"><h3>{{article.title}}</h3></a>


<a ng-click="showArticle = showArticle ? false : true" ng-hide="showArticle" class="titleDate"><h3>{{article.title}}</h3></a>
<a ng-click="showArticle = showArticle ? false : true" ng-show="showArticle" class="titleDate"><h3>{{article.title}}</h3></a>

