<!DOCTYPE html>
<html ng-app="myApp">
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <div ng-include="'/views/template.html'"></div>
    <div class="container" ng-controller="articleContent">
        <div class="col-md-12 col-sm-12 col-xs-12" ng-if="moddedIn">
            <input ng-model="article.title" type="text" ng-init="N/A" placeholder="Title">
            <input ng-model="article.date" type="text" placeholder="MM/DD/YYYY">
            <input ng-model="article.content" type="text" ng-init="N/A" placeholder="Content">
            <button ng-click="create(article)" class="btn-md btn-primary">Publish</button>
        </div>
        <div class="well col-md-12" ng-repeat="article in articles">
            <div class="col-md-9">
                <div class="units">
                    <button ng-click="delete(article)" class="delete"  ng-if="moddedIn">X</button>
                </div>
                <div><h3>{{article.title}}</h3></div>
                <div><p>{{article.date}}</p></div>
                <div><p>{{article.content}}</p></div>
                <div class="col-md-12 col-sm-12 col-xs-12" ng-if="!loggedIn">
                    <input ng-model="comment" type="text" placeholder="Enter comment">
                    <input ng-click="make(comment, article._id)" class="btn-md btn-primary" type="submit" value="Publish">
                </div>
                <div class="well col-md-12" ng-repeat="comment in article.comments">
                <div><p>{{comment.comment}}</p></div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="/javascripts/angular/angular.min.js"></script>
    <script type="text/javascript" src="/javascripts/app.js"></script>
</body>
</html>