<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <title></title>
</head>
<body>
<div ng-include="'/views/template.html'"></div>
<form class='userEnter' action="/login" method="post">
    <div>
        <label for="email">Email:</label>
        <input type="text" name="email" ng-model="email" id="email"/>
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" name="password" id="password"/>
    </div>
    <div>
        <input type="submit" value="Log In"/>
    </div>
</form>
</div>


<script type="text/javascript" src="/javascripts/angular/angular.min.js"></script>
<script type="text/javascript" src="/javascripts/app.js"></script>
</body>
</html>