<!DOCTYPE html>
<html ng-app="myApp">
<head lang="en">
    <meta charset="UTF-8">
    <title>Users</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
<div ng-include="'/views/template.html'"></div>
<div class="container page ng-cloak" ng-controller="userContent">
    <p ng-model="user">{{user.firstName}} {{user.lastName}}</p>
    <p ng-model="user">{{user.email}}</p>
    <input ng-model="game.gameName" type="text" placeholder="Game Name">
    <input ng-model="game.gameDescription" type="text" placeholder="Game Description">
    <button ng-click="generate(game)" class="">Publish</button>
</div>
<div class="" ng-repeat="game in users">
    <div class="">
        <div class="units">
            <button ng-click="delete(game)" class="delete"  ng-if="loggedIn">X</button>
        </div>
        <div><h3>{{game.gameName}}</h3></div>
        <div><p>{{game.gameDescription}}</p></div>
    </div>
</div>
<script type="text/javascript" src="/javascripts/vendors/angular/angular.min.js"></script>
<script type="text/javascript" src="/javascripts/app.js"></script>
</body>
</html>