<!DOCTYPE html>
<html ng-app="myApp">
<head lang="en">
    <meta charset="UTF-8">
    <title>Users</title>

    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
<div ng-include="'/views/template.html'"></div>
<div class="container">
    <label for="location">Location:</label>
    <input type="text" name="location" id="location" placeholder="enter location here"/>
    <input type="submit" value="submit"/>
    <label for="published">Published Games:</label>
    <input type="text" name="published" id="published" placeholder="enter published games here"/>
    <input type="submit" value="submit"/>
    <label for="game">Games in Development:</label>
    <input type="text" name="game" id="game" class="game" placeholder="enter game title here"/>
    <input type="text" name="game" class="game" placeholder="enter game description"/>
    <input type="submit" value="submit"/>
</div>

<script type="text/javascript" src="/javascripts/angular/angular.min.js"></script>
<script type="text/javascript" src="/javascripts/app.js"></script>
</body>
</html>